<a href="https://colab.research.google.com/github/Zedbog/First_repository/blob/master/car_rental_sql_alchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Inizcalizacja środowsika Google Colab
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"
!pip -q install PyMySQL

 * Starting MySQL database server mysqld
   ...done.

In [13]:
# zaimporotowanie bibliotek sqlalchemy 
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, String, Integer, Date

In [ ]:
engine = create_engine('mysql+pymysql://root:root@/')

#create database
engine.execute("CREATE DATABASE car_rental")
#select new db
engine.execute("USE car_rental")

In [57]:
eng = create_engine("mysql+pymysql://root:root@/car_rental")
base = declarative_base()

class Cars(base):
  __tablename__ = 'cars'

  car_id = Column(Integer, primary_key=True, autoincrement=True)
  producer = Column(String(30), nullable=False)
  model = Column(String(30), nullable=False)
  year = Column(Integer, nullable=False)
  horse_power = Column(Integer, nullable=False)
  price_per_day = Column(Integer, nullable=False)

  def __repr__(self):
    return f"<Car: id = {self.car_id}, Producer = {self.producer}, Model = {self.model}, Year = {self.year}, Horse_power = {self.horse_power}, Price_per_day = {self.price_per_day}>"

class Clients(base):
  __tablename__ = 'clients'

  client_id = Column(Integer, primary_key=True, autoincrement=True)
  name = Column(String(30), nullable=False)
  surname = Column(String(30), nullable=False)
  address = Column(String(30), nullable=False)
  city = Column(String(30), nullable=False)

  def __repr__(self):
               return f"<Client: Name: {self.name}, Surname: {self.surname}, Address: {self.address}, City: {self.city}>"
class Bookings(base):
  __tablename__ = 'bookings'

  booking_id = Column(Integer, primary_key=True, autoincrement=True)
  client_id = Column(Integer, nullable=False)
  car_id = Column(Integer, nullable=False)
  start_date = Column(Date, nullable=False)
  end_date = Column(Date, nullable=False)
  total_amount = Column(Integer, nullable=False)

  def __repr__(self):
    return f"<Booking: id: {self.booking_id}, Client_id: {self.client_id}, Car_id: {self.car_id}, Start_date: {self.start_date}, End_date: {self.end_date}, Total_amount: {self.total_amount}>"
base.metadata.create_all(eng)

In [22]:
#dodawanie rekordów - by zAPISAĆ REKORD POTRZEBUJEMY OBSŁUGI SESJI I PRZEKAZANIE W JEJ RAMACH OBIEKTU
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=eng)
session = Session()
client_1 = Clients(name='Jan', surname='Kowalski', address='ul. Florianska 12', city='Krakow')
car_1 = Cars(producer='Seat', model='Leon', year=2016, horse_power=80, price_per_day=200)
session.add(client_1)
session.add(car_1)
session.commit()

In [ ]:
for car in session.query(Cars).all():
  print(car)
for client in session.query(Clients).all():
  print(client)

In [ ]:
# s_car = select([cars]).all()
# for row in eng.execute(s):
#   print(row)

In [39]:
clients = [
{'name': 'Jan', 'surname': 'Kowalski', 'address': 'ul. Florianska 12', 'city': 'Krakow'},
{'name': 'Andrzej', 'surname': 'Nowak', 'address': 'ul. Saska 43', 'city': 'Wroclaw'},
{'name': 'Michal', 'surname': 'Taki', 'address': 'os. Srodkowe 12', 'city': 'Poznan'},
{'name': 'Pawel', 'surname': 'Ktory', 'address': 'ul. Stara 11', 'city': 'Gdynia'},
{'name': 'Anna', 'surname': 'Inna', 'address': 'os. Srednie 1', 'city': 'Gniezno'},
{'name': 'Alicja', 'surname': 'Panna', 'address': 'os. Duze 33', 'city': 'Torun'},
{'name': 'Damian', 'surname': 'Papa', 'address': 'ul. Skosna 66', 'city': 'Warszawa'},
{'name': 'Marek', 'surname': 'Troska', 'address': 'os. Male 90', 'city': 'Radom'},
{'name': 'Jakub', 'surname': 'Klos', 'address': 'os. Polskie 19', 'city': 'Wadowice'},
{'name': 'Lukasz', 'surname': 'Lis', 'address': 'os. Podlaskie 90', 'city': 'Bialystok'}]
cars = [
{'producer': 'Seat', 'model': 'Leon', 'year': 2016, 'horse_power': 80, 'price_per_day': 200},
{'producer': 'Toyota', 'model': 'Avensis', 'year': 2014, 'horse_power': 72, 'price_per_day': 100},
{'producer': 'Mercedes', 'model': 'CLK', 'year': 2018, 'horse_power': 190, 'price_per_day': 400},
{'producer': 'Hyundai', 'model': 'Coupe', 'year': 2014, 'horse_power': 165, 'price_per_day': 300},
{'producer': 'Dacia', 'model': 'Logan', 'year': 2015, 'horse_power': 103, 'price_per_day': 150},
{'producer': 'Saab', 'model': '95', 'year': 2012, 'horse_power': 140, 'price_per_day': 140},
{'producer': 'BMW', 'model': 'E36', 'year': 2007, 'horse_power': 110, 'price_per_day': 80},
{'producer': 'Fiat', 'model': 'Panda', 'year': 2016, 'horse_power': 77, 'price_per_day': 190},
{'producer': 'Honda', 'model': 'Civic', 'year': 2019, 'horse_power': 130, 'price_per_day': 360},
{'producer': 'Volvo', 'model': 'XC70', 'year': 2013, 'horse_power': 180, 'price_per_day': 280}]
bookings = [
{'client_id': 3, 'car_id': 3, 'start_date': '2020-07-06', 'end_date': '2020-07-08', 'total_amount': 400},
{'client_id': 6, 'car_id': 10, 'start_date': '2020-07-10', 'end_date': '2020-07-16', 'total_amount': 1680},
{'client_id': 4, 'car_id': 5, 'start_date': '2020-07-11', 'end_date': '2020-07-14', 'total_amount': 450},
{'client_id': 5, 'car_id': 4, 'start_date': '2020-07-11', 'end_date': '2020-07-13', 'total_amount': 600},
{'client_id': 7, 'car_id': 3, 'start_date': '2020-07-12', 'end_date': '2020-07-14', 'total_amount': 800},
{'client_id': 5, 'car_id': 7, 'start_date': '2020-07-14', 'end_date': '2020-07-17', 'total_amount': 240},
{'client_id': 3, 'car_id': 8, 'start_date': '2020-07-14', 'end_date': '2020-07-16', 'total_amount': 380},
{'client_id': 5, 'car_id': 9, 'start_date': '2020-07-15', 'end_date': '2020-07-18', 'total_amount': 1080},
{'client_id': 6, 'car_id': 10, 'start_date': '2020-07-16', 'end_date': '2020-07-20', 'total_amount': 1120},
{'client_id': 8, 'car_id': 1, 'start_date': '2020-07-16', 'end_date': '2020-07-19', 'total_amount': 600},
{'client_id': 9, 'car_id': 2, 'start_date': '2020-07-16', 'end_date': '2020-07-21', 'total_amount': 500},
{'client_id': 10, 'car_id': 6, 'start_date': '2020-07-17', 'end_date': '2020-07-19', 'total_amount': 280},
{'client_id': 1, 'car_id': 9, 'start_date': '2020-07-17', 'end_date': '2020-07-19', 'total_amount': 720},
{'client_id': 3, 'car_id': 7, 'start_date': '2020-07-18', 'end_date': '2020-07-21', 'total_amount': 240},
{'client_id': 5, 'car_id': 4, 'start_date': '2020-07-18', 'end_date': '2020-07-22', 'total_amount': 1200}]

In [42]:
def insert_data(session, base,params):
  session.add(base(**params))
  session.commit()

In [43]:
for client in clients:
  insert_data(session, Clients, client)
for car in cars:
  insert_data(session, Cars, car)
for booking in bookings:
  insert_data(session, Bookings, booking)

In [ ]:
#Wypisanie wszystkich rezerwacji dla klienta o id=3
result = session.query(Bookings).filter(Bookings.client_id == 3)
for booking in result:
  print(booking)

In [61]:
#Wypisanie wszystkich rezerwacji dla klienta o id=3 za pomocą select
from sqlalchemy.sql import select
conn = eng.connect()
s = select([Bookings]).where(Bookings.client_id == 3)
result = conn.execute(s).fetchall()
print(result)

[(1, 3, 3, datetime.date(2020, 7, 6), datetime.date(2020, 7, 8), 400), (7, 3, 8, datetime.date(2020, 7, 14), datetime.date(2020, 7, 16), 380), (14, 3, 7, datetime.date(2020, 7, 18), datetime.date(2020, 7, 21), 240)]

In [ ]:
#Wypisanie wszsytkich wypożyczonych samochodów przez klienta o id = 5
from sqlalchemy.sql import select
from sqlalchemy import join

j = join(Bookings, Cars, Bookings.car_id == Cars.car_id)
s = select([Cars]).select_from(j).where(Bookings.client_id == 5)
result = conn.execute(s)
for car in result:
  print(car)