<a href="https://colab.research.google.com/github/Zedbog/First_repository/blob/master/car_rental_sql_alchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Inizcalizacja środowsika Google Colab
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"
!pip -q install PyMySQL

 * Starting MySQL database server mysqld
   ...done.

In [13]:
# zaimporotowanie bibliotek sqlalchemy 
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, String, Integer, Date

In [ ]:
engine = create_engine('mysql+pymysql://root:root@/')

#create database
engine.execute("CREATE DATABASE car_rental")
#select new db
engine.execute("USE car_rental")

In [34]:
eng = create_engine("mysql+pymysql://root:root@/car_rental")
base = declarative_base()

class Cars(base):
  __tablename__ = 'cars'

  car_id = Column(Integer, primary_key=True, autoincrement=True)
  producer = Column(String(30), nullable=False)
  model = Column(String(30), nullable=False)
  year = Column(Integer, nullable=False)
  horse_power = Column(Integer, nullable=False)
  price_per_day = Column(Integer, nullable=False)

  def __repr__(self):
    return f"<Car: id = {self.car_id}, Producer = {self.producer}, Model = {self.model}, Year = {self.year}, Horse_power = {self.horse_power}, Price_per_day = {self.price_per_day}>"

class Clients(base):
  __tablename__ = 'clients'

  client_id = Column(Integer, primary_key=True, autoincrement=True)
  name = Column(String(30), nullable=False)
  surname = Column(String(30), nullable=False)
  address = Column(String(30), nullable=False)
  city = Column(String(30), nullable=False)

class Bookings(base):
  __tablename__ = 'bookings'

  booking_id = Column(Integer, primary_key=True, autoincrement=True)
  client_id = Column(Integer, nullable=False)
  car_id = Column(Integer, nullable=False)
  start_date = Column(Date, nullable=False)
  end_date = Column(Date, nullable=False)
  total_amount = Column(Integer, nullable=False)

base.metadata.create_all(eng)

In [22]:
#dodawanie rekordów - by zAPISAĆ REKORD POTRZEBUJEMY OBSŁUGI SESJI I PRZEKAZANIE W JEJ RAMACH OBIEKTU
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=eng)
session = Session()
client_1 = Clients(name='Jan', surname='Kowalski', address='ul. Florianska 12', city='Krakow')
car_1 = Cars(producer='Seat', model='Leon', year=2016, horse_power=80, price_per_day=200)
session.add(client_1)
session.add(car_1)
session.commit()

In [35]:
for car in session.query(Cars).all():
  print(car)
for client in session.query(Clients).all():
  print(client)

<Car: id = 1, Producer = Seat, Model = Leon, Year = 2016, Horse_power = 80, Price_per_day = 200>
<__main__.Clients object at 0x7f59730cea20>

In [ ]:
# s_car = select([cars]).all()
# for row in eng.execute(s):
#   print(row)